*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------General------------ */

body{
    background-color: #fffcf8;
    font-size: 15px;
    font-family: "Roboto Mono";
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;    
}


h2{
    color: #7f5539be;
    text-align: left;
    font-size: 10px;
    font-weight: 400;
    font-family: "Amatic SC";

}

h3{
    color: #DDB892;
    text-align: center;
    font-weight: bold;
    font-size: 3vh;
}

a {
    text-decoration: none;
    color: #DDB892;
}

@media(min-width: 768px){
    h3{
        font-size: 5vh;
    }
}

@media(min-width:1024px){
    body{
        background-color: #DDB892;        
    }
    h3{
        font-size: 8vh;
        color: #7f5539be;
    }
}


/*--------------Encabezado --------------*/
header{
    background-color: #fffcf8;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 20px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10px;
}

h1{
    color: #DDB892;
    font-size: 500%;
    text-align: left;
    font-family: "Cookie";
}

h2{
    color: #7f5539be;
    text-align: center;
    font-size: 250%;
    font-weight: 400;
    font-family: "Amatic SC";
}

header nav ul {
    list-style: none;
    text-align: end;
    gap: 10px;
    font-size: 90%;
}

@media(min-width: 768px){
    header {
        display: grid;
        grid-template-columns: 5fr;
        grid-template-rows: 3;
    }
    header nav ul {
        display: flex;
        font-size: 160%;
        gap: 30px;
    }
}

@media(min-width: 1024px){
    header {
        background-color: #DDB892;
        display: flex;
    }
    h1{
        color: #EDE0D4;
    }
    a{
        color: #EDE0D4;
    }
}


/*--------------Home--------------*/
.portada{
    height: 50vh;
    width: 100%;
    display: none;
    resize: both;
    overflow: auto;

    color: #7f5539be;
    text-align: center;
    font-size: 5vh;
    font-weight: 400;
    font-family: "Amatic SC";   

    background-image: url(../img/base_tapiz.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media(min-width: 768px){
    .portada{
        height: 50vh;
        width: 100%;
    }
}

@media(min-width: 1024px){
    .portada{
        height: 70vh;
        width: 100%;
    }
}


/*--------------Nosotros--------------*/

.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nosotros img{
    width: 250px;
    height: auto;
    border-style: none;
    border-radius: 0%;
}

.nosotros p {
    width: 250px;
    text-align: justify;
}

@media(min-width: 768px){
    .nosotros{
        flex-direction: row;
        gap: 50px;
    }

    .nostros img{
        width: 350px;
    }

    .nostros p{
        width: 350px;
    }
}

@media(min-width: 1024px){
    .nosotros p{
        width: 500px;
    }
}

/*--------------Tienda--------------*/
.tienda{
    display: flex;
    min-width: 30vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    align-content: flex-start;
    gap: 30px;
}

section img{
    height: 30vh;
    border-style: solid;
    border-radius: 100%;
    border-color: #DDB892;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section article h4 {
    color: #DDB892;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

section article span {
    color: #DDB892;
    font-size: 18px;
}

section div{
    color: #7f5539be;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.btn{
    background-color: #ede0d485;
    border: 2px solid #EDE0D4;
    padding: 8px 10px;
    border-radius: 10px;
    color: #7f5539be;
}

.btn:hover{
    background-color: #ede0d4c0;
    transform: scale(1.2);
    transition-duration: 1s;
}

@media(min-width: 1024px){
    .section img{
        border-color: #ffff;
    }
    section article h4 {
        color: #ffff
    }
    section article span {
        color:#EDE0D4
    }
}


/*--------------Nudos--------------*/
.nudos-basicos{
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

section div h4 {
    color: #DDB892;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

iframe{
    width: auto;
}

@media(min-width:768px){
      iframe{
        width: 500px
    }
}

@media(min-width: 1024px){
    .nudos-basicos{
        grid-template-columns: 1fr 1fr;
    }
    section div h4 {
        color: #ffff
    }
    iframe{
        width: 500px;
    }
}


/*--------------Footer--------------*/

footer{
    padding-top: 50px;
}

footer a{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

footer div ul{
    list-style: none;
}